<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common">
        <footer class="bg-black text-white text-center py-4">
            <div class="d-flex justify-content-center">
                <p class="mb-0 text-secondary w-50">E-mail | <a href="mailto:wincr_es@naver.com" class="text-white text-decoration-none">wincr_es@naver.com</a></p>
                <p class="mb-0 text-secondary w-50">Github | <a href="https://github.com/Joeunseon" class="text-white text-decoration-none">github.com/Joeunseon</a></p>
            </div>
            <hr class="mt-4 mb-3 mx-auto white">
            <p class="mt-3">Copyright © 2025 DEMO. All rights reserved.</p>
        </footer>
    </div>
</html>