<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="commonMetaAndTitle">
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-Compatible" content="IE=edge">
        <title>DEMO</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover'">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" type="image/svg+xml" href="/images/favicon-dark.svg" sizes="32x32">
    </th:block>

    <th:block th:fragment="commonAssets">
        <!-- 플러그인 관련 CSS -->
        <!-- jQuery UI CSS -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Common 퍼블 css -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- 플러그인 script -->
        <!-- jQuery JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- jQuery UI JS -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- Common 개발자 JS  -->
         <script src="/js/common.js"></script>
    </th:block>
</html>