<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mx-4 px-4 py-2 rounded">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <a class="navbar-brand" href="/">DEMO</a>
                    <div class="collapse navbar-collapse d-flex justify-content-center">
                        <ul class="navbar-nav" th:each="item : ${menuList}">
                            <li class="nav-item">
                                <a class="nav-link" th:href="${item.menuUrl}" th:text="${item.menuNm}"></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <th:block th:if="${loginInfo}">
                            <li class="nav-item"><a class="nav-link" href="/api/logout">LOGOUT</a></li>
                        </th:block>
                        <th:block th:unless="${loginInfo}">
                            <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">SIGNUP</a></li>
                        </th:block>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</html>