<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="alert">
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <!-- 모달 헤더 -->
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel" th:text="#{title.alert}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="#{button.close}"></button>
                </div>
                <!-- 모달 본문 -->
                <div class="modal-body">
                </div>
                <!-- 모달 푸터 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" th:text="#{button.confirm}"></button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="confirm">
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- 모달 헤더 -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel" th:text="#{title.alert}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="#{button.close}"></button>
                    </div>
                    <!-- 모달 본문 -->
                    <div class="modal-body">
                    </div>
                    <!-- 모달 푸터 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark saveBtn" data-bs-dismiss="modal" th:text="#{button.save}"></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.cancel}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>