<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" th:if="${totalCnt > 0}">
                <!-- 이전 페이지 (prevPage가 null이면 비활성화) -->
                <li class="page-item" th:classappend="${prevPage == null} ? 'disabled'">
                    <a class="page-link" href="javascript:;" th:if="${prevPage != null}" data-role="btnGoPage" th:data-page="1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.5" height="12.5">
                            <path stroke="#000" fill="none" d="M10.858 11.498 5.499 5.997l5.359-5.5"/>
                            <path stroke="#000" fill="none" d="M5.858 11.498.499 5.997l5.359-5.5"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" th:classappend="${prevPage == null} ? 'disabled'">
                    <a class="page-link" href="javascript:;" th:if="${prevPage != null}" data-role="btnGoPage" th:data-page="${prevPage}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8.5" height="12.5">
                            <path stroke="#000" fill="none" d="M5.858 11.498.499 5.997l5.359-5.5"/>
                        </svg>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" th:classappend="${page == currentPage} ? 'active'">
                        <a class="page-link" th:classappend="${page == currentPage} ? 'active bg-dark border-dark' : 'text-dark'" href="javascript:;" th:text="${page}" data-role="btnGoPage" th:data-page="${page}"></a>
                    </li>
                </th:block>

                <!-- 다음 페이지 (nextPage가 null이면 비활성화) -->
                <li class="page-item" th:classappend="${nextPage == null} ? 'disabled'">
                    <a class="page-link" href="javascript:;" th:if="${nextPage != null}" data-role="btnGoPage" th:data-page="${nextPage}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8.5" height="12.5">
                            <path stroke="#000" fill="none" d="m2.141.497 5.359 5.5-5.359 5.501"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" th:classappend="${nextPage == null} ? 'disabled'">
                    <a class="page-link" href="javascript:;" th:if="${nextPage != null}" data-role="btnGoPage" th:data-page="${totalPages}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.5" height="12.5">
                            <path stroke="#000" fill="none" d="m2.141.497 5.358 5.5-5.358 5.501"/>
                            <path stroke="#000" fill="none" d="m7.141.497 5.358 5.5-5.358 5.501"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
</html>