<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container-fluid custom-container">
                <main>
                    <div class="w-75 mx-auto mt-1">
                        <h3 class="mb-5 ms-3">코드 등록</h3>
        
                        <div class="p-3 card shadow-sm mb-3">
                            <div class="card-body">
                                <form id="codeForm">
                                    <div class="mb-4">
                                        <label class="form-label fw-bold d-block">코드 유형</label>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="codeType1" name="codeType" value="grp" checked="checked">
                                            <label class="form-check-label" for="codeType1">그룹 코드</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="codeType2" name="codeType" value="cd">
                                            <label class="form-check-label" for="codeType2">코드</label>
                                        </div>
                                    </div>

                                    <div class="mb-4" style="display: none;">
                                        <label for="grpSeq" class="form-label fw-bold">그룹 코드 선택</label>
                                        <select class="form-select" id="grpSeq" name="grpSeq" data-type="code" data-grp-cd=""></select>
                                    </div>

                                    <div class="mb-4">
                                        <label for="cd" class="form-label fw-bold">코드</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cd" name="cd" required="required" maxlength="50">
                                            <button type="button" class="btn btn-outline-secondary" id="checkBtn1" onclick="checkDuplicate(1);">중복 확인</button>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="cdNm" class="form-label fw-bold">코드 이름</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cdNm" name="cdNm" required="required" maxlength="100">
                                            <button type="button" class="btn btn-outline-secondary" id="checkBtn2" onclick="checkDuplicate(2);">중복 확인</button>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-4">
                                        <label for="cdDesc" class="form-label fw-bold">코드 설명</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cdDesc" name="cdDesc" maxlength="200">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <th:block th:if="${loginInfo}">
                            <div class="d-flex justify-content-end mt-5 me-2 mb-5">
                                <a href="/code/list" class="btn btn-secondary rounded-pill px-4 py-2 me-1" th:text="#{button.cancel}"></a>
                                <button type="button" class="btn btn-dark rounded-pill px-4 py-2" onclick="codeValidity();" th:text="#{button.regist}"></button>
                            </div>
                        </th:block>
                    </div>
                </main>

                <!-- modal -->
                <input type="hidden" id="validation" th:value="#{error.validation}">
                <input type="hidden" id="duplication" th:value="#{error.duplication}">
                <input type="hidden" id="saveConfrimMsg" th:value="#{save.confrim}" >
                <div th:include="common/modal :: alert" th:remove="tag"></div>
                <div th:include="common/modal :: confirm" th:remove="tag"></div>
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>