<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container-fluid custom-container">
                <main>
                    <div class="p-3">
                        <!-- 제목 -->
                        <div class="mb-3">
                            <h4 class="fw-bold title border rounded-3 p-3 bg-light"></h4>
                        </div>

                        <div class="mb-3 d-flex justify-content-between text-muted border rounded-3 p-3">
                            <div>
                                <span class="fw-bold">작성자: </span>
                                <span class="me-2 fw-bold writerNm"></span> 
                            </div>
                            <div>
                                <span class="regDt"></span> 
                                <span class="ms-2">조회수: <span class="viewCnt"></span></span>
                            </div>
                        </div>

                        <!-- TOAST UI Viewer (content) -->
                        <div class="toast-viewer border rounded-3 p-3 bg-light"></div>

                        <input type="hidden" id="boardSeq" th:value="${boardSeq}">
                    </div>

                    <div class="d-flex justify-content-end mt-3 me-4 mb-3">
                        <a href="/board/list" class="btn btn-secondary rounded-pill px-4 py-2 me-1" th:text="#{button.list}"></a>
                        <th:block th:if="${loginInfo}">
                            <a th:href="@{/board/edit(boardSeq=${boardSeq})}" class="btn btn-dark rounded-pill px-4 py-2 me-1 editable" th:text="#{button.edit}"></a>
                            <button type="button" class="btn btn-dark rounded-pill px-4 py-2 editable" th:text="#{button.delete}" onclick="deleteConfirm();"></button>
                        </th:block>
                    </div>
                </main>

                <!-- modal -->
                <input type="hidden" id="deleteConfirm" th:value="#{delete.confirm}">
                <input type="hidden" id="errorRequest" th:value="#{error.request}">
                <div th:include="common/modal :: alert" th:remove="tag"></div>
                <div th:include="common/modal :: confirm" th:remove="tag"></div>
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>