<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container-fluid custom-container">
                <main>
                    <h3 class="mb-3 ms-3">게시판 등록</h3>
    
                    <div class="p-3">
                        <form id="boardForm">
                            <!-- 제목 입력 필드 -->
                            <div class="mb-3">
                                <label for="title" class="form-label fw-bold">제목</label>
                                <input type="text" class="form-control" id="title" name="title" required="required" maxlength="100">
                            </div>

                            <!-- TOAST UI Editor -->
                            <label for="content" class="form-label fw-bold">내용</label>
                            <textarea id="content" name="content" style="display: none;"></textarea>
                            <div class="toast-editor"></div>
                        </form>
                    </div>

                    <th:block th:if="${loginInfo}">
                        <div class="d-flex justify-content-end mt-3 me-4 mb-3">
                            <a href="/board/list" class="btn btn-secondary rounded-pill px-4 py-2 me-1" th:text="#{button.cancel}"></a>
                            <button type="button" class="btn btn-dark rounded-pill px-4 py-2" onclick="boardValidity();" th:text="#{button.regist}"></button>
                        </div>
                    </th:block>
                </main>

                <!-- modal -->
                <input type="hidden" id="validation" th:value="#{error.validation}">
                <input type="hidden" id="saveConfrimMsg" th:value="#{save.confrim}" >
                <div th:include="common/modal :: alert" th:remove="tag"></div>
                <div th:include="common/modal :: confirm" th:remove="tag"></div>
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>