@import url('./font.css');

body {
    font-family: 'Freesentation', sans-serif;
}

.custom-container {
    margin-top: 100px;
    min-height: calc(100vh - 153px);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 96.5vw;
    z-index: 1050;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* main page animation */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* modal */
.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}