<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container-fluid d-flex flex-column px-0 py-5 custom-container">
                <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                    <div class="login-box border rounded p-4 shadow-sm bg-white w-25">
                        <h2 class="text-center mb-4">비밀번호 변경</h2>
                        
                        <form id="accountForm">
                            <div class="mb-3">
                                <label for="userPwd" class="form-label">기존 비밀번호 <span class="text-danger">*</span></label>
                                <input type="password" id="userPwd" name="userPwd" class="form-control" maxlength="16" required="required" autocomplete="new-password" >
                            </div>
                            
                            <div class="mb-3">
                                <label for="newPwd" class="form-label">새 비밀번호 <span class="text-danger">*</span></label>
                                <input type="password" id="newPwd" name="newPwd" class="form-control" maxlength="16" required="required" autocomplete="new-password">
                                <div class="text-danger small">
                                    <p id="pwdPattern" th:text="#{error.signup.pwd_pattern}" style="display: none;"></p>
                                    <p id="pwdContains" th:text="#{error.signup.pwd_contains_id}" style="display: none;"></p>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">새 비밀번호 확인 <span class="text-danger">*</span></label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" maxlength="16" required="required" autocomplete="new-password">
                                <div class="text-danger small">
                                    <p id="pwdCredentials" th:text="#{error.signup.pwd_bad_credentials}" style="display: none;"></p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <th:block th:if="${accountKey eq 'ACCOUNT_FORCE_PWD_CHANGE'}">
                                    <button type="button" class="btn btn-light" onclick="delay();" th:text="#{buttom.password.delay}"></button>
                                </th:block>
                                <th:block th:if="${accountKey eq 'ACCOUNT_MENU_PWD_CHANGE'}">
                                    <a th:href="@{/account/me(accountKey='ACCOUNT_MENU_PWD_CHANGE')}" class="btn btn-secondary" th:text="#{button.cancel}"></a>
                                </th:block>
                                <button type="button" class="btn btn-dark" onclick="accountValidity();" th:text="#{button.save}"></button>
                            </div>
                        </form>
                        <input type="hidden" id="saveConfrimMsg" th:value="#{success.basic}" >
                        <input type="hidden" id="validation" th:value="#{error.validation}" >
                    </div>
                </div>

                <!-- modal -->
                <div th:include="common/modal :: alert" th:remove="tag"></div>
                <div th:include="common/modal :: confirm" th:remove="tag"></div>
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>