<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="info">
        <div id="fileInfo">
            <div class="mb-3 justify-content-between align-items-center mb-2">
                <label class="fw-bold mb-0 me-2">첨부파일</label>
                <button type="button" class="btn btn-sm btn-outline-dark" id="zipDownloadBtn" onclick="fileDownZip();">전체 다운로드</button>
            </div>
    
            <ul class="list-group fileList">
                <li class="list-group-item d-flex align-items-center li_info">
                    <a class="text-decoration-none text-primary me-2 oriNm"></a>
                    <span class="text-muted small fileSize"></span>
                </li>
            </ul>
        </div>
        <script src="/js/file/info.js"></script>
    </div>
</html>