<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container">
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>