<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/layout">
<body>
    <!-- warp -->
    <div class="warp">
        <!-- container-block -->
        <div id="container-block" layout:fragment="contents" th:remove="tag">
            <!-- container -->
            <div class="container-fluid px-0">
                <main class="container-fluid px-0">
                    <section class="text-center py-5 mt-5 row" style="height: 400px;">
                        <div class="align-self-center">
                            <h2 class="fw-bold display-1">Hello;</h2>
                        </div>
                    </section>
                    <section class="text-center py-5 mb-5">
                        <h2 class="fw-bold reveal">*</h2>
                        <h3 class="fw-bold reveal">당신의 아이디어를 담아, 더 나은 경험을</h3>
                        <p class="lead reveal">필요한 기능, 원하는 콘텐츠, 당신만의 공간을 자유롭게 만들어보세요.</p>
                    </section>
                    <section class="text-center py-5 bg-black text-white">
                        <h2 class="fw-bold display-3 reveal">DEMO</h2>
                        <p class="lead reveal">간편하고 직관적인 웹 경험을 제공합니다.</p>
                        <div class="row justify-content-center">
                            <div class="col-md-4 reveal">
                                <div class="d-flex flex-wrap justify-content-between bg-dark p-4 rounded-3 align-items-stretch">
                                    <div class="col-md-6 d-flex flex-column justify-content-center text-start">
                                        <h5 class="fs-5 text-secondary mx-4">개발 블로그</h5>
                                        <p class="mb-0">
                                            <a href="https://euntry.tistory.com/" class="text-white text-decoration-none fw-bold fs-4 mx-4">프로젝트 이야기</a>
                                        </p>
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center text-start">
                                        <h5 class="fs-5 text-secondary mx-4">이메일 문의</h5>
                                        <p class="mb-0">
                                            <a href="mailto:wincr_es@naver.com" class="text-white text-decoration-none fw-bold fs-4 mx-4">wincr_es@naver.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <!-- ./ container -->
        </div>
        <!-- ./ container-block -->
     </div>
     <!-- ./ warp -->
</body>
</html>